<!DOCTYPE html>
<html>
<head>
  <title>GoalSetter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  Welcome <%= current_user.username %> | ★ <%= current_user.cheers %> |
  (Not <%= current_user.username %>? <%= link_to "Sign Out", session_url, method: :delete %>)
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %>

<hr>
<ul>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>
</ul>

<%= yield %>

<hr>
<a href="<%= users_url %>">Home</a>
<br>
<% if signed_in? %>
  <a href="<%= user_url(current_user) %>">My Profile</a>
<% end %>

</body>
</html>
